# Deshabilitamos la firma del servidor
ServerSignature Off

# Indicamos que usaremos el motor de redireccionamiento
RewriteEngine On
RewriteBase /NOMBRE RAIZ DEL SITIO AQUI/

# Redireccionamos cualquier peticion que no sea un directorio, un archivo o
# un enlance
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

# Redireccionamos las peticiones de servicio al backend
RewriteRule ^services\/([a-zA-Z0-9\_\-\/]+)$ backend/main.php [NC,L,QSA]

# Evitamos que el usuario pueda navegar en los archivos del sitio
Options -Indexes 