include globals.pug

//- Barra de navegacion en la parte superior de la pagina
-
  var navBarConfig = {
  };
+navBar(navBarConfig)('[navbarClass]'="'green'")
  mz-navbar-item
    +link()('[id]'="'translation-button'")
      i.mdi.mdi-translate
    +dropdownMenu("'language-options'", "'translation-button'")
      mz-dropdown-item
        +link()(
          '(click)'='onLanguageButtonClicked("es")'
          click-stop-propagation
        )='Español'
      mz-dropdown-item
        +link()(
          '(click)'='onLanguageButtonClicked("en")'
          click-stop-propagation
        )='English'


//- Area principal de la pagina
div.container
  ui-view